* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

@mixin flexbox($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

body {
    background-color: #15141a;
    color: #fff;
    // padding-inline: 3.875rem;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
}

.logo {
    z-index: 100;
}

.nav-main {
    padding: 1.875rem 8.75rem;
    @include flexbox(center, center, row);
    margin-bottom: 4.6875rem;
    display: flex;
    flex-direction: column;
    position: relative;
    &__logo {
        margin-bottom: .5rem;
    }
    &__info {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-family: "JetBrainsMono Nerd Font";
        font-weight: lighter;
        letter-spacing: 5px;
    }
}

.text {
    &__main-title {
        font-family: "Futura";
        font-size: 1.95rem;
        letter-spacing: 7%;
    }
    &__headers-wrapper,
    &__main-description {
        text-align: center;
        padding-inline: 3rem;
    }
    &__headers-wrapper {
        line-height: 205%;
        margin-bottom: 4.125rem;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            bottom: -.5rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: #ffffffcc;
            height: 5px;
            width: 20px;
            border-radius: 30px;
        }
    }
    &__main-description {
        max-width: 1000px;
        font-family: "JetbrainsMono Nerd Font";
        font-size: 12;
        line-height: 198.5%;
        letter-spacing: 5.5%;
    }
}

.special-text {
    padding: .25rem;
    background-color: #ffffff;
    border-radius: 5px;
    color: #1d1d1d;
    font-size: smaller;
    font-weight: bold;
}

.back-button {
    margin-bottom: 3.4375rem;
    filter: invert(1);
    cursor: pointer;
}

.quote-card {
    height: auto;
    width: auto;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    background-color: #ffffff1d;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    &__headers {
        margin-bottom: 1.875rem;
        line-height: 150%;
    }
    &__movie-title,
    &__quote-author {
        font-family: "JetBrainsMono Nerd Font";
        font-size: 1.95rem;
        letter-spacing: -2px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__movie-title {
        margin-bottom: 0.6875rem;
        color: #EE1D52;
    }
    &__quote-phrase {
        @include flexbox(flex-start, flex-start, row);
        &--quotation-mark {
            margin-right: 10px;
        }
        &--quote-text {
            font-family: "JetBrainsMono Nerd Font";
            font-size: .8125rem;
        }
    }
}

.btn {
    border: none;
    outline: none;
    padding: .85rem 3.375rem;
    border-radius: 10px;
    background-color: #ffffff1d;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #fff;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    letter-spacing: .45rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
}

// Flex COntainer 
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.buttons-container {
    @include flexbox(center, center, row);
    margin-top: 5rem;
}

.content-section {
    flex: none;
    width: 100vw;
    scroll-snap-align: start;
    &__home {
        @include flexbox(center, center, column);
    }
    &__quotes-page {
        padding: 2rem;
        @include flexbox(center, flex-start, column);
        .quote-card {
            align-self: center;
            width: 70vw;
            min-height: 30vh;
        }
    }
}

@media screen and (min-width: 720px) {
    .buttons-container {
        @include flexbox(center, center, row);
        margin-top: 2rem;
    }
    .text {
        &__main-description {
            text-align: center;
            padding-inline: 3rem;
        }
    }
}